*{
    padding: 0;
    margin: 0;
}
/*ESTILOS ENCABEZADO*/
header{
    background-color: #F24ACD;
    height: 500px;

}

header img{
    width: 70%;
    height: 80%;
    margin: auto;
    display: block;
}

header p {
    font-family: 'Arizonia', cursive;
    font-size: 1000%;
    color: #85F043;
    -webkit-text-stroke: 2px #2ff0cd;
    width: 100%;
    position: absolute;
    top: 320px;
    text-align: right;
    right: 100px;
}
/*ESTILOS NAVEGADOR*/
nav{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);
}

nav > ul {
    display: flex;
    list-style: none;
    padding: 1%;
}

nav ul li a{
    padding: 1%;
    font-family: 'Atma', cursive;
    font-size: 260%;
    color: #16ACC9;
    -webkit-text-stroke: 0.5px #F24ACD;
    text-decoration: none;
}

nav ul li{
    text-align: center;
    flex-grow: 1;
    list-style-type: none;

}

nav li:hover > ul{
    display: block;
}

.subMenuChar li {
    display: block;
}

.subMenuChar li a:hover{
    background: rgb(191, 219, 90);
}

.subMenuChar {
    display: none;
    position: absolute;
    width: 20%;
    left: 4.5%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}

.submenu-season li {
    display: block;
}

.submenu-season li a:hover{
    background: rgb(191, 219, 90);
}

.submenu-season{
    display: none;
    position: absolute;
    width: 20%;
    left: 29%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}
.submenu-info li {
    display: block;
}

.submenu-info li a:hover{
    background: rgb(191, 219, 90);
}

.submenu-info{
    display: none;
    position: absolute;
    width: 20%;
    left: 78%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}

.subMenuStatus li {
    display: block;
}

.subMenuStatus li a:hover{
    background: rgb(191, 219, 90);
}

.subMenuStatus{
    display: none;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}

.subMenuSpecies li {
    display: block;
}

.subMenuSpecies li a:hover{
    background: rgb(191, 219, 90);
}

.subMenuSpecies{
    display: none;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}

/*ESTILOS MAIN*/
/*Contiene el fondo del main*/
main{
    background: url(./imagenes/Rick-and-Morty-Desktop1-Backgrounds-HD.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
}

main > div{
    background: rgb(233, 233, 220);
    width: 70%;
    height: auto;
    margin-left: 15%;
}
/*Estilos de personajes principales*/
#root{
    font-size: 200%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
}

.mainChacarters{
    max-height: 500px;
}

.mainChacarters h2{
    font-family: 'Atma', cursive;
    font-size: 30px;
    padding-left: 3%;
    padding-top: 3%;
    color: #F24ACD;
    padding-bottom: 20px;
}

.main-item {
   display: flex;
   width: 19.5%;
   padding-left: 0.5%;
}

.main-item img{
    width: 100%;
}

.main-conteiner p{
    background-color: black;
    color: blanchedalmond;
    margin-top: -10px;
    font-family: 'Audiowide', cursive;
    font-size: 70%;
}

a:link{
    text-decoration: none;
}
/*Estilos de sortby*/
.alphaCharacters h2{
    font-family: 'Atma', cursive;
    font-size: 30px;
    padding-left: 3%;
    padding-top: 3%;
    color: #F24ACD;
    padding-bottom: 20px;
}

.alphaOrder{
    font-family: 'Audiowide', cursive;
    font-size: 150%;
    display: flex;
    margin-left: 3%;
    height: 100px;
}

#selectOrder {
    margin-left: 3%;
    list-style-type: none;
    display: flex;
  }

#selectOrder li a{
    text-decoration: none;
} 
#selectOrder li:hover ul{
    display: block;
}

.sortByName li{
    display: block;
    font-family: 'Audiowide', cursive;
    font-size: 110%;
    list-style-type: none;
}

.sortByName li a:hover{
    background: rgb(201, 121, 255);
}

.sortByName{
    display: none;
    position: relative;
    text-align: center;
}

/*Estilos de Search*/
#searchName{
   font-family: 'Audiowide', cursive;  
   border-radius: 15px;
   border: 2px solid #39c;
   height: 35px;
   text-align: center;
   font-size: 50%;
}

.searchName {
    padding-left: 20%;
}
.searchName a{
    display: inline-flex;
}

@keyframes rotate360 {
    to { transform: rotate(90deg); }
  }

.searchName a i{
    animation: 2s rotate360 infinite linear;
    position: relative;
    left: 12%;
    line-height: 2;
}



/*Estilos de Todos los personajes*/
#allCharacters{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.All-item{
    list-style-type: none;
    max-width: 200px;
    min-height: 280px; 
    margin-left: 3%;
    margin-right: 3%;
   
}

.All-conteiner a{
    display: block;
    
    
}

.All-conteiner img{
  width: 100%;
}

.All-conteiner p{
    width: 100%;
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 120%;
    background-color: black;
    margin-top: -4%;
    height: 72px; 
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

/*ESTILOS TARJETA PERSONAJE*/
.overlay{
    background: rgba(101, 221, 127, 0.349);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.popup{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%); 
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Audiowide', cursive;
    padding: 50px;
    text-align: center;
    width: 60%;
}

.popup .btn-close-popup {
    margin-top: 0;
	display: block;
	text-align: right;
}

i{
    font-size:48px;
    color:rgb(191, 219, 90);
}

.popup .btn-close-popup i:hover {
    color: rgb(154, 142, 224);
    transition: .3s ease all;
    transform: rotate(45deg);
} 

.detailed{
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.detailed-name{
    width: 30%;
}
.detailed-name img{
    width: 100%;
    margin-left: 10%;
}

.detailed-name h2{
   color: white;
   background: rgba(0,0,0,1);
   width: 100%;
   align-content: center;
   margin-left: 10%;
   font-size: 25px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
}

.detailed2{
    width: 60%;
    margin-left: 10%;
}

.rm_info {
    text-align: center;
    margin-right: 10px;
    background-color: #16abc9;
    box-shadow: 0px 0px 50px 0px #d1db4b8f;
    border-radius: 10px;
    height: 40px;
    padding: 2%;
    font-size: 20px;
    align-items: center;
}


/*ESTILOS PIE DE PAGINA*/
footer {
background: url(./imagenes/footer_Rick\ and\ Morty.jpg);
width: 100%;
height: 300px;
background-size: cover;

}

div > img {
    width: 100px;
   
}

footer p{
    font-family: Reenie Beanie;
    color: #F24ACD;
    font-size: 60px;
}

footer > div{
    width:50%;
    float: left;
    padding-top: 50px;
}

.socialNetworks{
    display: block;
    margin-left: 50px;
}

.terms{
    display: block;
    text-align: right;   
    width: 45%;
}

.copy{
    width: 100%;
    height: auto;
}
.copy p{
    color: black;
    font-size: 150%;
    height: auto;
    text-align: center;
    font-family: 'Audiowide', cursive;
}

@media screen and (max-device-width: 812px) and (min-device-width: 375px){

    nav ul li a{
        font-size: 150%;
    }

    main > div{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
}
}