*{
    padding: 0;
    margin: 0;
}
/*ESTILOS ENCABEZADO*/
header{
    background-color: #F24ACD;
    height: 500px;

}

header img{
    width: 90%;
    height: 80%;
    margin: auto;
    display: block;
}

header p {
    font-family: 'Arizonia', cursive;
    font-size: 1000%;
    color: #85F043;
    -webkit-text-stroke: 2px #2ff0cd;
    width: 100%;
    position: absolute;
    top: 320px;
    text-align: right;
    right: 100px;
   
}
/*ESTILOS NAVEGADOR*/
nav{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);
}

nav > ul {
    display: flex;
    list-style: none;
    padding: 1%;
}

nav ul li a{
    padding: 15px;
    font-family: 'Atma', cursive;
    font-size: 40px;
    color: #16ACC9;
    -webkit-text-stroke: 0.5px #F24ACD;
    text-decoration: none;
    
}

nav ul li{
    text-align: center;
    flex-grow: 1;
    list-style-type: none;
}

nav li:hover > ul{
    display: block;
}

.subMenuChar li {
    display: block;
}

.subMenuChar li a:hover{
    background: rgb(191, 219, 90);
}

.subMenuChar {
    display: none;
    position: absolute;
    width: 15%;
    top: 600px;
    left: 7%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}

.submenu-season li {
    display: block;
}

.submenu-season li a:hover{
    background: rgb(191, 219, 90);
}

.submenu-season{
    display: none;
    position: absolute;
    width: 15%;
    top: 600px;
    left: 32%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}
.submenu-info li {
    display: block;
}

.submenu-info li a:hover{
    background: rgb(191, 219, 90);
}

.submenu-info{
    display: none;
    position: absolute;
    width: 15%;
    top: 600px;
    left: 79.5%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}

.subMenuStatus li {
    display: block;
}

.subMenuStatus li a:hover{
    background: rgb(191, 219, 90);
}

.subMenuStatus{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}

.subMenuSpecies li {
    display: block;
}

.subMenuSpecies li a:hover{
    background: rgb(191, 219, 90);
}

.subMenuSpecies{
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(242,74,205,1) 100%);;
}




/*ESTILOS MAIN*/
/*Contiene el fondo del main*/
main{
    background: url(./imagenes/Rick-and-Morty-Desktop1-Backgrounds-HD.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
}

main div{
    background: rgb(233, 233, 220);
    width: 70%;
    height: auto;
    margin-left: 15%;
}
/*Estilos de personajes principales*/
#root{
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
    
}

.mainChacarters{
    max-height: 500px;
}

.mainChacarters h2{
    font-family: 'Atma', cursive;
    font-size: 30px;
    padding-left: 3%;
    padding-top: 3%;
    color: #F24ACD;
    padding-bottom: 20px;
}

.main-item {
   display: flex;
   width: 20%;
}

.main-item img{
    width: 100%;
}

.main-conteiner p{
    background-color: black;
    color: blanchedalmond;
    margin-top: -10px;
    font-family: 'Audiowide', cursive;
    font-size: 70%;

}
/*Estilos de sortby*/
.alphaCharacters h2{
    font-family: 'Atma', cursive;
    font-size: 30px;
    padding-left: 3%;
    padding-top: 3%;
    color: #F24ACD;
    padding-bottom: 20px;
  
}

.alphaOrder{
    font-family: 'Audiowide', cursive;
    font-size: 30px;
    display: flex;
    margin-left: 3%;
    height: 100px;
}

#selectOrder {
    margin-left: 3%;
    list-style-type: none;
  }

#selectOrder li a{
    text-decoration: none;
} 
#selectOrder li:hover ul{
    display: block;
}

.sortByName li{
    display: block;
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    list-style-type: none;
}

.sortByName li a:hover{
    background: rgb(201, 121, 255);
}

.sortByName{
    display: none;
 
}

/*Estilos de Todos los personajes*/
.allCharacters{
    display: flex;
    top: 200px;
    margin-left: 3%;
   }

.All-conteiner{
    display: inline-flex;
    align-items: center;
}
.All-item{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
    width: 50%;
    
}



.All-conteiner img{
    width: 100px;
}

.All-conteiner p{
    color:black;
    font-family: 'Audiowide', cursive;
    font-size: 200%;
}

/*ESTILOS PIE DE PAGINA*/
footer {
background: url(./imagenes/footer_Rick\ and\ Morty.jpg);
width: 100%;
height: 300px;
background-size: cover;

}

div > img {
    width: 100px;
   
}

footer p{
    font-family: Reenie Beanie;
    color: #F24ACD;
    font-size: 60px;
}

footer > div{
    width:50%;
    float: left;
    padding-top: 50px;
}

.socialNetworks{
    display: block;
    margin-left: 50px;
}

.terms{
    display: block;
    text-align: right;   
    width: 45%;
}

