*{
    padding: 0;
    margin: 0;
}
/*ESTILOS ENCABEZADO*/
header{
    background-color: #F24ACD;
    height: 500px;

}

header img{
    width: 90%;
    height: 80%;
    margin: auto;
    display: block;
}

header p {
    font-family: 'Arizonia', cursive;
    font-size: 1000%;
    color: #85F043;
    -webkit-text-stroke: 2px #2ff0cd;
    width: 100%;
    position: absolute;
    top: 320px;
    text-align: right;
    right: 100px;
   
}
/*ESTILOS NAVEGADOR*/

/*ESTILOS MAIN*/

main{
    background: url(./imagenes/Rick-and-Morty-Desktop1-Backgrounds-HD.jpg);
    width: 100%;
    height: 1000px;
}

/*ESTILOS PIE DE PAGINA*/
footer {
background: url(./imagenes/footer_Rick\ and\ Morty.jpg);
width: 100%;
height: 300px;
background-size: initial;
}

div > img {
    width: 100px;
   
}

footer p{
    font-family: Reenie Beanie;
    color: #F24ACD;
    font-size: 60px;
}

footer > div{
    width:50%;
    float: left;
    padding-top: 50px;
}

.socialNetworks{
    display: block;
    margin-left: 50px;
}

.terms{
    display: block;
    text-align: right;   
    width: 45%;
}
